@use '_variaveis';
@use 'mixin';

.cabecalho {

  background: variaveis.$cor-primaria;
  color: white;
  @include mixin.espacamento-padrao;
  // padding: variaveis.$espacamento-padrao;

  &__titulo {

    text-align: center;
  }
}