// Variáveis globais

// Cores
$color-primary: #4f46e5;
$color-secondary: #1e293b;
$color-light: #f8fafc;
$color-white: #ffffff;

// Tipografia
$font-main: Arial, sans-serif;

// Espaçamentos
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;

// Breakpoints
$breakpoint-md: 768px;
